Django==3.0.7
django-ckeditor==5.3.1
Pillow
django-tagging==0.5.0
django-modeltranslation==0.14.2
webvtt-py==0.4.2
django-cas-client==1.5.2
ldap3==2.5
django-simple-captcha==0.5.12
urllib3==1.25.9
elasticsearch==6.3.1
djangorestframework==3.11.0
django-filter==2.3.0
sorl-thumbnail==12.6.3
django-lti-provider==0.4.0
django-auth-mixins==1.0.1
celery==4.3.0
pandas
deepspeech==0.6.1
billiard<4.0,>=3.6.0
webrtcvad
django-shibboleth-remoteuser
django-chunked-upload==2.0.0